# importing the essentials

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

### Getting a brief information about the data sets

In [3]:
print(train_df.shape)
print(test_df.shape)

(58645, 13)
(39098, 12)

In [8]:
print(f"\n{train_df.info()}")
print(train_df.isnull().sum())
print(train_df.duplicated())
print(train_df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

None
id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64
0        False
1        False
2        False
3        False
4        False
         ...
58640    False
58641    False
58642    False
58643    False
58644    False
Length: 58645, dtype: bool
Index(['id', 'person_age', 'person_income', 'person_home_ownership',
       'person_emp_length', 'loan_intent', 'loan_grade', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_default_on_file',
       'cb_person_cred_hist_length', 'loan_status'],
      dtype='object')

In [13]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,58645.0,29322.000000,16929.497605,0.00,14661.00,29322.00,43983.00,58644.00
person_age,58645.0,27.550857,6.033216,20.00,23.00,26.00,30.00,123.00
person_income,58645.0,64046.172871,37931.106979,4200.00,42000.00,58000.00,75600.00,1900000.00
person_emp_length,58645.0,4.701015,3.959784,0.00,2.00,4.00,7.00,123.00
loan_amnt,58645.0,9217.556518,5563.807384,500.00,5000.00,8000.00,12000.00,35000.00
loan_int_rate,58645.0,10.677874,3.034697,5.42,7.88,10.75,12.99,23.22
loan_percent_income,58645.0,0.159238,0.091692,0.00,0.09,0.14,0.21,0.83
cb_person_cred_hist_length,58645.0,5.813556,4.029196,2.00,3.00,4.00,8.00,30.00
loan_status,58645.0,0.142382,0.349445,0.00,0.00,0.00,0.00,1.00

In [9]:
train_df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

## Finfing the uniques and value cpunts

In [14]:
for item in train_df.columns[1:]:
    print(f'{item} : {train_df[item].unique()}')
    print('-'* 50)

person_age : [ 37  22  29  30  27  25  21  35  31  26  28  32  23  24  33  44  38  43
  46  48  36  41  34  40  47  42  51  50  39  56  60  49  58  54  45  59
  65  53  55  57  52  62  64  84  70  66  73  69  61  20  80  76 123]
--------------------------------------------------
person_income : [ 35000  56000  28800 ...  44955  90730 124600]
--------------------------------------------------
person_home_ownership : ['RENT' 'OWN' 'MORTGAGE' 'OTHER']
--------------------------------------------------
person_emp_length : [  0.   6.   8.  14.   2.   9.  11.   5.   1.  13.   3.  10.  12.   4.
   7.  21.  17.  16.  18.  19.  15.  20.  23.  24.  26.  22.  25.  41.
  27.  28.  35.  29.  30.  31. 123.  39.]
--------------------------------------------------
loan_intent : ['EDUCATION' 'MEDICAL' 'PERSONAL' 'VENTURE' 'DEBTCONSOLIDATION'
 'HOMEIMPROVEMENT']
--------------------------------------------------
loan_grade : ['B' 'C' 'A' 'D' 'E' 'F' 'G']
--------------------------------------------------
loan_amnt : [ 6000  4000 12000  9000  2500  5000 15000 12800 10000 16000  7300 17000
  5950  4800  3200  7000  3000  3500 14000  2800  2000  5500 14400 15900
 12500  8000  2400 20000 14125  9600 17200  4200  7200 18000 23500  3550
  9800 24000 19500  6500 17500  4500 19750 28000 25000 18250  5200  8400
 18650  3600  7800  5400 13000  1850 10800 15250  2250  1500  8700 11000
 16800 14500  6200  8500  6800  6400 35000  8800 30000  1000  9250 16100
  1800  3300  3650  7500 13750  6600  6250  6325  5600 17400  9200 13250
 21000  6625  1450  9500  3250  6725  4900  6450 11500  3100  1200 10400
 19200 14750  1400  5250  5275  5100  8200  7750 10500  9050  3350  2700
  9975 11200 24250  4600  7700  5300 15500 12250  3800 18500 10625 10750
 16500  5800 12375 15600  5175 19800  7125 18400 15200  5025 11400  7775
  1700 22000  8875  1375 13200 11250  2100 21600  6700 10200 12600 16750
 19000  5825 31000 13500 13350 11650 16700  8050  7550  5700 10700  8300
 19925  4275 17325  1925 20800  4700 20500  4775 20400  1900 14800  6475
 17600  6300  4750  3575 11225 26375  3400  7275 14625 24100 12700 13800
 11700  4400 15150 19600  2200  2300 12750  4100  6650  6100  1350 23000
 12900 11800 19400  7600 13225 14475  8475  8600  3700 11050  3900  1675
 18225  1600 15700 10900  4475  8150  1075  1875 23475  2225 12225 10250
  6750  4300 10600  7875  2450  4350  7400  2850  2600  8575  6025  7475
 12150 27000  2875 23450  9925 12350  3625 14850  6225 12300  5150  2525
 11300  7925 14100 13600 23800  4725  4375  1750  7100 13650 21125 14700
  5125  2575 18200  8250 29800  8125 21200  7250 25475 12200 17850  3325
  8650 11100 12100 17800  2550  8525 14550 10100  1950  5375  2750  5575
  6900 15350  6350 12400  3850  7425  2950  4650  6825  2425  9450 14150
  8100  3425 21500  9875  1050 16875 14200 13475 23200 24500 14900  9150
 15775  6425  9350 16400  4975  6125 10650 17625  8450 28250 13575  3825
  6550  4075 11525  8550  1275  1300  9900 22500  7850  1825 18125  3175
  9100 12325 10175  1807 17450 27250 25600  2925 15175 14575  5875 22800
  2325 11750 14600  4850 18300 10425  7375 10050  9400 21250  5625  7975
 10950 11425  3275 13450  8850 14300 16120  3675 16200 26800  7150  9300
 11600 20675 17900  9175  9700 24750 14350  4250 15800  5775 10675 23600
  2050 15400 16250  3150 17375  5975 10525  2375 13400  4125  5550  7175
 18900  1325  9475 17650  7350 11450 26000 19550  1250  4025  5075  7050
 12475 23100  6375 23400 33000 23750 10300 14650  9950 12275  8750  8325
 10150 24200  5675  8275  2150 19425  9125 24625 25850  6575  6775 12950
 12450  1775 27050 22400  8675   700 17250 10375 18325 23700 11350  7225
  8900  8225  5900 17350  3525 12875  2725 27800  6950 10450 18150  4925
 15025 21400  4450 15850 20050 13125  1525 15300 18600 22650 11025  6150
 18800 15650  6850  4425  1475  4950  7625  5425  3950 18850  4050  6925
  7075 24400 24150  5650 13900  5750 15075  4325  1225 22600  3750 11975
  6075  2125  5050 12650  5225 24375 21850 20900  7675  2275 29100 15625
 16450 27575 17475  8825 10325 11325 10850  4525  3075   900  3450  9750
 32000 17925 13850 21825  6975 14250 18750 23975 13700 21100  5450 30750
  5325  2650  3125 17700  9275 22750 10975  7450  5475 12925 15450   500
 13275  3375  3925 14675 13100 19125  3775  3725 12775 11575  2350 27500
 11625 13075  9725  4550  1150]
--------------------------------------------------
loan_int_rate : [11.49 13.35  8.9  11.11  6.92  8.94  6.54 13.49 14.84 12.98 10.59 11.12
 10.75 11.14 13.57 14.11  6.62 12.73  7.88  8.59  7.68  6.99 16.49  9.62
  8.   15.96  7.66 18.64  7.9  11.71 15.58  7.14 12.18  7.49  9.25 14.27
 12.53 11.86 12.21 10.99  9.91 16.4  10.36 14.26  9.32  5.42 17.06 15.23
  7.51  9.38 14.72 14.09 13.22 13.11 10.95  7.74  7.29 10.37  5.99 10.62
 15.62 11.99 15.2  11.58 11.48  6.91 16.32 10.25 12.68 10.65 14.96 12.61
  5.79 13.06 12.99 10.74 15.31 12.69 11.36  6.03 10.46 16.29  9.07 13.48
  9.99 11.34 12.42 16.07 14.22  6.17  6.39 13.79 11.26 13.99 13.93 11.83
 13.23 14.91 10.39 17.46 11.46 13.61 15.99 15.05  9.88 15.7  15.33  8.49
 19.69 11.89  9.76 14.59 12.87  8.88 10.   13.85  6.76 10.83  9.45 17.39
 14.46 13.98 11.22 12.29 14.35 15.65 10.38 13.47 13.72  7.4  12.84 10.71
 13.16 16.7  11.28 19.04 14.42 13.92 15.95 13.24 13.04 13.12 14.65  9.63
 12.23  7.05 11.66 12.67 14.54 17.04  9.7   8.32 15.57 15.21 10.78 14.7
  8.07 17.56  9.96 15.37 12.09 14.83 13.8  11.97 18.25 14.74 19.03 14.61
 18.39  8.38 16.77 17.58 14.17 18.78 16.89 18.62 10.08 20.69 16.08 21.36
 15.28  7.37 16.   11.78 15.27 20.89 10.2  16.35 17.49 13.67 12.41 12.91
 13.43 17.19 17.88 17.14 16.45  9.51 16.82 10.28 11.41 13.36 12.86 17.27
 17.99  7.43 19.79  7.42 20.62 19.29 17.93 11.03 18.43  8.63 12.8  18.84
 10.91 12.22 22.06 14.79 14.82  9.59 18.07 12.17 10.96 18.79 21.21 20.3
 15.68 13.55  9.64 14.5  10.51  7.75 17.51 19.91 10.01 13.15 14.38 19.13
 15.59 14.93 12.92 20.16 11.54 15.76  9.67 16.02 17.26  8.7  21.74 22.11
 14.12  9.01 12.04 18.3  19.16 16.69 10.33 13.87 16.63 15.13 12.49 17.74
 14.18 19.42 17.43  7.12 17.03 13.3  11.91 14.3  15.25 14.51  9.33 13.17
 21.64 18.21 15.38 15.29 15.88 18.67 14.75 16.95 15.06  6.   18.09 14.88
 13.75 19.47 16.11 20.11 20.48  7.91  9.83  9.2  10.14 19.41 12.62 11.72
 11.59 14.25 12.54 15.45  8.1  17.9   7.71 15.01 13.27 12.71 15.11 14.98
 15.75 12.72 15.26  6.42 15.79  6.05 20.17 15.07  8.45 17.44 18.17 20.25
  7.94 10.54 17.15  9.13 12.36 13.42 14.71 18.53 11.09 10.64 17.54 19.82
 11.62 20.86 20.8  13.84 20.09  6.96  9.22 19.66 20.52 16.15 14.49 23.06
 18.72 12.12 16.71 14.69  7.46 10.79  5.43 15.83 10.68  7.25 23.22 12.96
  9.17 10.03]
--------------------------------------------------
loan_percent_income : [0.17  0.07  0.21  0.1   0.2   0.27  0.13  0.14  0.3   0.12  0.23  0.05
 0.25  0.16  0.11  0.09  0.19  0.06  0.08  0.04  0.22  0.24  0.03  0.02
 0.26  0.15  0.29  0.35  0.18  0.28  0.4   0.44  0.5   0.01  0.34  0.33
 0.32  0.31  0.37  0.39  0.36  0.48  0.47  0.42  0.38  0.43  0.51  0.46
 0.41  0.49  0.45  0.52  0.    0.56  0.53  0.384 0.55  0.83  0.54  0.59
 0.63 ]
--------------------------------------------------
cb_person_default_on_file : ['N' 'Y']
--------------------------------------------------
cb_person_cred_hist_length : [14  2 10  5  3 11  6  9  7  8  4 17 13 15 12 16 23 24 20 21 28 30 19 26
 27 18 29 25 22]
--------------------------------------------------
loan_status : [0 1]
--------------------------------------------------

In [17]:
cat_col = train_df.select_dtypes(include=['object']).columns
for items in cat_col:
    print(f'{train_df[items].value_counts()}')
    print('-'* 50)

person_home_ownership
RENT        30594
MORTGAGE    24824
OWN          3138
OTHER          89
Name: count, dtype: int64
--------------------------------------------------
loan_intent
EDUCATION            12271
MEDICAL              10934
PERSONAL             10016
VENTURE              10011
DEBTCONSOLIDATION     9133
HOMEIMPROVEMENT       6280
Name: count, dtype: int64
--------------------------------------------------
loan_grade
A    20984
B    20400
C    11036
D     5034
E     1009
F      149
G       33
Name: count, dtype: int64
--------------------------------------------------
cb_person_default_on_file
N    49943
Y     8702
Name: count, dtype: int64
--------------------------------------------------